<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>girldevelopit-reveal.js - The GDI HTML Presentation Framework</title>

		<meta name="description" content="Girl Develop It framework for easily creating beautiful presentations using HTML in GDI theme. Forked from Hakim El Hattab's reveal.js">
		<meta name="author" content="Girl Develop It">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/gdicool.css" id="theme">

		<!-- For syntax highlighting -->
		<!-- light editor--><link rel="stylesheet" href="lib/css/light.css">
		<!-- dark editor<link rel="stylesheet" href="lib/css/dark.css">-->

		<!-- If use the PDF print sheet so students can print slides-->

		<link rel="stylesheet" href="css/print/pdf.css" type="text/css" media="print">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
        <!-- Opening -->
				<section>
					<h1>Intro to AngularJS</h1>
					<h3>Up and running with fundamentals</h3>
				</section>
        <!-- Compatibility-->
				<section>
					<h2>Heads Up</h2>
					<p>
						Girl Develop It is here to provide affordable and accessible programs to learn software through mentorship and hands-on instruction.</p>
					<p class="green">Some "rules"</p>
					<ul>
              <li>We are here for you!</li>
              <li>Every question is important</li>
              <li>Help each other</li>
              <li>Have fun</li>
          </ul>
				</section>

				<section>
					<h2>Introductions</h2>
					<p>Tell us about yourself.</p>
Which of your web projects are you most proud of?
					<ul>
						<li>Who are you?</li>
						<li>What do you hope to get out of the class?</li>
						<li>If you could make any website, what would it be?</li>
					</ul>
				</section>

				<section>
					<h2>You should have:</h2>
					<ul>
							<li>A <a href="codepen.io">Codepen account</a></li>
							<li>A text editor (<a href="atom.io">Atom</a>, <a href="sublimetext.com">Sublime Text</a>)</li>
							<li>Node + NPM (NVM recommended)</li>
					</ul>
				</section>

				<section>
					<h2>Four Day Agenda</h2>
					<ol>
						<li>Angular Basics + Best Practices</li>
						<li>Managing Data with Services, Forms</li>
						<li>Useful add-ons: UI-Router, UI-Bootstrap, testing</li>
						<li>Practice, Quick Detour into Angular 2</li>
					</ol>
				</section>

				<section>
					<h2>Day 1</h2>
					<ul>
						<li>Controllers, directives, filters</li>
						<li>Data binding</li>
						<li>MVC/MV*</li>
						<li>Scope and $scope best practices</li>
					</ul>
				</section>

				<section>
					<h2>So WHAT is Angular?</h2>
					<ul>
						<li class="fragment">Client-side Javascript Framework for Single Page Applications (SPAs)</li>
						<li class="fragment">Allows you to extends HTML</li>
						<li class="fragment">Data binding!</li>
						<li class="fragment">Easy to test</li>
						<li class="fragment">Handles it's own dependency injection</li>
					</ul>
				</section>

				<section>
					<h2>Also</h2>
					<ul>
						<li class="fragment">Likes to own everything</li>
						<li class="fragment">You'll need to think about page refreshes, back button</li>
						<li class="fragment">Also consider performance</li>
						<li class="fragment">Use $scope.$watch and two-way data binding sparingly</li>
					</ul>
				</section>

				<section>
					<p>index.html</p>
					<xml class="fragment">
						<pre>
<code>&lt;!DOCTYPE html>&lt;html ng-app>
&lt;head>&lt;title>{{pageTitle}}&lt;/title>
&lt;script src="./angular.min.js">
&lt;script src="./app.js">&lt;/head>
&lt;body>
&lt;p>2 + 2 = {{2 + 2}}&lt;/p>
&lt;/body>
&lt;/html></code>
						</pre>
					</xml>
				</section>

				<section>
					<h2>How Angular works</h2>
					<ul>
						<li class="fragment">Each variable used in a view is added to a $watchers list</li>
						<li class="fragment">A digest loop checks for changes on page events</li>
						<li class="fragment">This is called "dirty checking"</li>
					</ul>
				</section>

				<section>
					<h2>Model View Whatever</h2>
					<img src="./css/images/MVW.png" />
				</section>

				<section>
					<h2>Other Tools People Use</h2>
					<ul>
						<li>Handlebars (Server side view)</li>
						<li>Backbone (non-opinionated)</li>
						<li>Ember</li>
						<li>React (View)</li>
					</ul>
				</section>

				<section>
					  <h2>Directives</h2>
						<p>View components and logic</p>
	           <pre class="fragment"><code contenteditable class ="javascript">angular.module([]).directive('myTooltip', myTooltipFn);</code></pre>
						 <pre class="fragment"><code>&lt;my-tooltip>&lt;/my-tooltip></code></pre>
						 <pre class="fragment"><code>&lt;div my-tooltip="options">&lt;/div></code><pre>
				</section>

				<section>
				  <p>index.html</p>
					<xml class="fragment">
					  <pre>
<code>&lt;!DOCTYPE html>&lt;html ng-app>
&lt;head>&lt;title>{{pageTitle}}&lt;/title>
&lt;script src="./angular.min.js">
&lt;script src="./app.js">&lt;/head>
&lt;body>
&lt;h1>{{pageTitle}}&lt;/h1>
&lt;/body>
&lt;/html></code>
            </pre>
					</xml>
				</section>

				<section>
					<h2>Built-in directives</h2>
					<ul>
						<li>ng-app</li>
						<li class="fragment">ng-if</li>
						<li class="fragment">ng-show/ng-hide</li>
						<li class="fragment">ng-click</li>
						<li class="fragment">ng-model</li>
						<li class="fragment">ng-change</li>
						<li class="fragment">ng-repeat</li>
						<li class="fragment">ng-controller</li>
					</ul>
				</section>

				<section>
					  <h2>ng-if</h2>
					  <pre class="fragment">
              <code contenteditable>&lt;button ng-if="changesEnabled">Edit&lt;/button></code>
            </pre>
				</section>

				<section>
						<h2>ng-model</h2>
						<p>Two way data binding!</p>
						<pre class="fragment">
							<code contenteditable>&lt;input type="text" ng-model="name"/>
Name: {{name}}</code>
						</pre>
				</section>

				<section>
						<h2>ng-click</h2>
						<pre class="fragment">
							<code contenteditable>&lt;a href="" ng-click="openModal()">See details&lt;/a></code>
						</pre>
				</section>

				<section>
						<h2>ng-change</h2>
						<xml class="fragment">
							<pre>
								<code contenteditable>Start Date:
&lt;input ng-change="updateMinDate()" type="text" uib-datepicker/></code>
							</pre>
						</xml>
				</section>

				<section>
						<h2>ng-repeat</h2>
						<xml class="fragment">
							<pre>
								<code contenteditable>&lt;table>
&lt;tbody>
	&lt;tr ng-repeat="account in accounts track by $index">
		&lt;td ng-bind="account.name">&lt;/td>
	&lt;/tr>
&lt;/tbody>
&lt;/table>
								</code>
							</pre>
						</xml>
				</section>

				<section>
					<h2>Let's explore Codepen!</h2>
					<p><a href="http://codepen.io/Sinetheta/pen/olBxp">http://codepen.io/Sinetheta/pen/olBxp</a></p>
				</section>

				<section>
					<h2>Controllers</h2>
					<p>View logic and scope</p>
					<p>Use with ng-controller directive, ng-view, or ui-view (with UI-Router - more on this later!)</p>
				</section>

				<section>
						<p>app.js</p>
					  <pre class="fragment">
              <code contenteditable class ="javascript">require('angular');
angular.module([]) .controller("menuController", ['$scope',
function($scope) { $scope.pageTitle =
"Angular Example Site"; }]);
              </code>
            </pre>
						<p>index.html</p>
<pre class="fragment">
<code>&lt;!DOCTYPE html>&lt;html ng-app>
&lt;head>&lt;title>{{pageTitle}}&lt;/title>&lt;/head>
&lt;body>
	&lt;div ng-controller="menuController">
		&lt;h1>{{pageTitle}}&lt;/h1>
	&lt;/div>
	&lt;script src="./app.js">
	&lt;/body>
&lt;/html>
</code>
						</pre>
				</section>

				<section>
					<h2>Scope and $scope</h2>
					<ul>
						<li>An angular application can be made up of multiple modules, each with multiple controllers and directives</li>
						<li>Unfortunately, since $scope is shared among all modules in an app, it is easy to pollute and overwrite values</li>
					</ul>
				</section>
				<section>
					<h2>'this' and 'as'</h2>
							<p>app.js</p>
							<pre class="fragment">
								<code contenteditable class ="javascript">require('angular');
	angular.module([]) .controller("menuController", ['$scope',
	function($scope) { this.pageTitle =
	"Angular Example Site"; }]);
								</code>
							</pre>
							<p>index.html</p>
	<pre class="fragment">
	<code>&lt;!DOCTYPE html>&lt;html ng-app>
	&lt;head>&lt;title>{{pageTitle}}&lt;/title>&lt;/head>
	&lt;body>
		&lt;div ng-controller="menuController as menuCtrl">
			&lt;h1>{{menuCtrl.pageTitle}}&lt;/h1>
		&lt;/div>
		&lt;script src="./app.js">
		&lt;/body>
	&lt;/html>
</code></pre>
				</section>

				<section>
						<h2>ng-repeat</h2>
						<xml class="fragment">
							<pre>
								<code contenteditable>&lt;table ng-controller="accountController as accountCtrl">
&lt;thead>...&lt;/thead>
&lt;tbody>
	&lt;tr ng-repeat="account in accounts track by $index">
		&lt;td ng-bind="account.name">&lt;/td>
	&lt;/tr>
&lt;/tbody>
&lt;/table></code>
							</pre>
						</xml>
				</section>

				<section>
				  <h2>Filters</h2>
					<pre class="fragment"><code contenteditable>{{ name | uppercase }}</code></pre>
					<p class="fragment">Sam -> SAM</p>
				  <pre class="fragment"><code contenteditable>{{ startDate | date:'MM/dd/yyyy' }}</code></pre>
					<p class="fragment">new Date() -> 04/26/2016</p>
				</section>

				<section>
						<h2>ng-repeat</h2>
						<xml class="fragment">
							<pre>
								<code contenteditable>&lt;table ng-controller="accountController as accountCtrl">
&lt;th ng-repeat="tableLabel in accountCtrl.accountTableLabels">
{{tableLabel | uppercase}}&lt;/th>
&lt;tbody>
	&lt;tr ng-repeat="account in accounts track by $index |
accountCtrl.balanceOverZero">
		&lt;td ng-bind="account.name">&lt;/td>
	&lt;/tr>
&lt;/tbody>
&lt;/table></code>
							</pre>
						</xml>
				</section>

				<section>
						<p>app.js</p>
					  <pre class="fragment">
              <code class ="javascript">require('angular');
angular.module([]).service("menuService", function() {
	this.pageTitle = "Angular Example Site";
})
.controller("menuController", ['$scope', 'menuService',
	function($scope, menuService) {
		$scope.pageTitle = "Angular Example Site";
}]);
              </code>
            </pre>
						<p>index.html</p>
						<pre class="fragment">
							<code>&lt;!DOCTYPE html>
&lt;html ng-app>&lt;head>&lt;title>{{pageTitle}}&lt;/title>&lt;/head>
&lt;body>
	&lt;div ng-controller="menuController">
		&lt;h1>{{pageTitle}}&lt;/h1>
	&lt;/div>
	&lt;script src="./app.js">
	&lt;/body>
&lt;/html></code>
						</pre>
				</section>

				<section>
					<h2>Codepen Practice!</h2>
					<p>Fork this codepen and use six directives you've learned:
						<a href="http://codepen.io/arilaen/pen/oxPwQq">http://codepen.io/arilaen/pen/oxPwQq</a>
					</p>
					<p>Here's the list again (starred directives are required):</p>
					<ul>
						<li>ng-app</li>
						<li class="fragment">ng-controller</li>
						<li class="fragment">ng-if</li>
						<li class="fragment">ng-show/ng-hide</li>
						<li class="fragment">ng-click</li>
						<li class="fragment">ng-model</li>
						<li class="fragment">ng-change</li>
						<li class="fragment">ng-repeat</li>
					</ul>
				</section>

				<section>
					<h2>Next time...</h2>
					<ul>
						<li>Make your own directives!</li>
						<li>Services</li>
						<li>Forms</li>
					</ul>
				</section>

				<section>
					<h2>Intro to Angular Part 2</h2>
					<p>Questions/thoughts before we begin?</p>
				</section>

				<section>
					<h2>Day 2</h2>
					<ul>
						<li>Recap of Basics</li>
						<li>Create your own directives!</li>
						<li>Forms</li>
					</ul>
				</section>

				<section>
					<h2>Recap: WHAT is Angular?</h2>
					<ul>
						<li class="fragment">Client-side Javascript Framework for Single Page Applications (SPAs)</li>
						<li class="fragment">Allows you to extends HTML</li>
						<li class="fragment">Data binding!</li>
						<li class="fragment">Handles it's own dependency injection</li>
					</ul>
				</section>

				<section>
					<h2>Recap: Model View Whatever</h2>
					<img class="fragment" src="./css/images/MVW.png" />
					<p class="fragment">http://www.techstrikers.com/AngularJS/angularjs-mvc-pattern.php</p>
					<p class="fragment">https://plus.google.com/+AngularJS/posts/aZNVhj355G2</p>
				</section>

				<section>
					  <h2>Recap: Directives</h2>
						<p class="fragment">View components and logic</p>
	           <pre class="fragment"><code contenteditable class ="javascript">angular.module([]).directive('myTooltip', myTooltipFn);</code></pre>
						 <p class="fragment">Element style</p>
						 <pre class="fragment"><code>&lt;my-tooltip>&lt;/my-tooltip></code></pre>
						 <p class="fragment">Attribute style</p>
						 <pre class="fragment"><code>&lt;div my-tooltip="options">&lt;/div></code><pre>
				</section>

				<section>
					<h2>Recap: Built-in directives</h2>
					<ul>
						<li>ng-app</li>
						<li class="fragment">ng-if</li>
						<li class="fragment">ng-show/ng-hide</li>
						<li class="fragment">ng-click</li>
						<li class="fragment">ng-model</li>
						<li class="fragment">ng-change</li>
						<li class="fragment">ng-repeat</li>
						<li class="fragment">ng-controller</li>
					</ul>
				</section>

				<section>
					<h2>Let's go over yesterday's codepen!</h2>
					<p><a href="http://codepen.io/arilaen/pen/oxPwQq">http://codepen.io/arilaen/pen/oxPwQq</a></p>
				</section>

				<section>
					<h2>Recap: Controllers</h2>
							<p class="fragment">app.js</p>
							<pre class="fragment">
								<code contenteditable class ="javascript">require('angular');
	angular.module([]) .controller("menuController", ['$scope',
	function($scope) { this.pageTitle =
	"Angular Example Site"; }]);
								</code>
							</pre>
							<p class="fragment">index.html</p>
	<pre class="fragment">
	<code>&lt;!DOCTYPE html>&lt;html ng-app>
	&lt;head>&lt;title>{{pageTitle}}&lt;/title>&lt;/head>
	&lt;body>
		&lt;div ng-controller="menuController as menuCtrl">
			&lt;h1>{{menuCtrl.pageTitle}}&lt;/h1>
		&lt;/div>
		&lt;script src="./app.js">
		&lt;/body>
	&lt;/html>
</code></pre>
				</section>

				<section>
					<h2>So How Do You Create YOUR OWN Directive?</h2>
					<p>There are two types:</p>
					<ul>
						<li class="fragment">Element: <pre class="fragment">
							<code>&lt;profile-section>&lt;/profile-section></code></pre></li>
						<li class="fragment">Attribute: <pre class="fragment">
							<code>&lt;input type="number" model="accountCtrl.percentGoal" percent-mask /></code></pre></li>
				</section>

				<section>
					<h2>Element directives</h2>
					<ul>
						<li class="fragment">Placeholder for an HTML template</li>
						<li class="fragment">Simplest example:
							<pre class="fragment">
								<code>&lt;ng-include="./profile-section-template.html">&lt;/ng-include></code>
							</pre>
						</li>
						<li class="fragment">This element directive JUST brings in the template, with no extra logic</li>
						<li class="fragment">Results in an extra AJAX request at runtime</li>
						<li class="fragment">Avoid this by making your own directives!</li>
					</ul>
				</section>

				<section>
					<h2>Attribute directives</h2>
					<ul>
						<li class="fragment">Add an attribute (logic) to another HTML tag</li>
						<li class="fragment">Examples: ng-click, ng-model, etc.</li>
						<li class="fragment">Do not include templates</li>
					</ul>
				</section>

				<section>
					<h2>Both element and attribute directives...</h2>
					<ul>
						<li class="fragment">Can include view logic, can even include a controller</li>
						<li class="fragment">Can have *isolate scope*</li>
					</ul>
				</section>

				<section>
					<h2>Code!</h2>
					<pre class="fragment">
						<code contenteditable class ="javascript">angular.module([]).directive("profileSection", function() {
	return {
		restrict: 'E', //E for element, A for attribute!,
		templateUrl: './profile-section.html',
		scope: {},
		transclude: true //Has access to everything in parent scope - avoid!
	}
};</code>
					</pre>
				</section>

				<section>
					<h2>Code with template!</h2>
					<pre class="fragment">
						<code contenteditable class ="javascript">angular.module([]).directive("profileSection", function() {
	return {
		restrict: 'E',
		template: '&lt;div class="profile-section">&lt;h2>Profile&lt;/h2>&lt;/div>',
		scope: {}
	}
};
</code>
					</pre>
				</section>

				<section>
					<h2>Now let's add variables to scope!</h2>
					<pre class="fragment">
						<code contenteditable class ="javascript">angular.module([]).directive("profileSection", function() {
	return {
		restrict: 'E',
		template: 'Name: {{name}}, Age: {{age}}',
		scope: {
			name: '=name', //or '='
			age: '=age' //or '='
		}
	}
};
</code>
					</pre>
				</section>

				<section>
					<h2>And now we can use our directive!</h2>
					<pre class="fragment"><code contenteditable>&lt;table>
&lt;tbody>
&lt;tr ng-repeat="user in users">
&lt;profileSection name="user.name" age="user.age">&lt;/profile-section>
&lt;/tr>
&lt;/tbody>
&lt;/table>
					</code>
				</pre>
				</section>

				<section>
					<h2>More Examples at Angular Docs</h2>
					<p><a href="https://docs.angularjs.org/guide/directive">https://docs.angularjs.org/guide/directive</a>
				</section>

				<section>
					<h2>Your Turn!</h2>
					<p>Write your own directive in your codepen</p>
					<p>Ideas:</p>
					<ul>
						<li>A header</li>
						<li>A footer</li>
						<li>Menu</li>
						<li>Link</li>
						<li>Description (for a blog post, etc.)</li>
					</ul>
				</section>

				<section>
					<h2>More with directives</h2>
					<p class="fragment">You can add logic via a controller:</p>
<pre class="fragment">
	<code contenteditable class="javascript">angular.module([]).directive("profileSection", function() {
		return {
			restrict: 'E',
			template: 'Name: {{name}}, Age: {{age}}',
			controller: 'ProfileController' // Angular manages dependencies and will find this with just a string!
			scope: {
				name: '=name', //or '='
				age: '=age' //or '='
			}
		}
	};
	</code>
</pre>
				</section>

				<section>
					<h2>More with directives</h2>
					<p class="fragment">Or more commonly, with a link function (more on this next class):</p>
<pre class="fragment">
<code contenteditable class="javascript">angular.module([]).directive("", function() {
	return {
		restrict: 'A',
		template: 'Name: {{name}}, Age: {{age}}',
		scope: {
			firstName: '='
			lastName: '='
		},
		link: function(scope, element, attributes) {
			scope.name = scope.firstName + ' ' + scope.lastName;
		}
	}
};</code>
					</pre>
				</section>

				<section>
					<h2>'=', '@', '&amp;'</h2>
					<p class="fragment">'=' is for two way binding</h2>
					<p class="fragment">'&amp;' is for one way binding (usually functions)</p>
					<p class="fragment">'@' is for text</h2>
<pre class="fragment">
	<code contenteditable class ="javascript">angular.module([]).directive("profileSection", function() {
		return {
			restrict: 'E',
			template: 'Name: {{name}}, Age: {{age}}',
			scope: {
				name: '='
				age: '@'
			}
		}
	}; // &lt;profile-section name="user.name" age="20">&lt;/profile-section>
	</code>
</pre>
				</section>

				<section>
					<h2>Tools for forms</h2>
					<ul>
						<li>ng-model: Use on inputs to keep track of updates</li>
						<li>ng-submit: Runs when you submit a form</li>
						<li>Don't just rely on ng-click - user can press enter to submit a form</li>
						<li>Can review codepen for an example of this in practice</li>
					</ul>
				</section>

				<section>
					<h2>Optional: Save data to a service</h2>
					<ul>
						<li>Services can be shared across different controllers</li>
						<li>Can also load data from/send data to back end, store in local storage, etc.</li>
						<li>More on this next class</li>
					</ul>
				</section>

				<section>
					<h2>Adventure trip!</h2>
					<ul>
						<li>Choose your favorite destination for a group trip! <small>Decide how many people can go.</small></li>
						<li>Create a model for the travelers <small>(Name, Age, Email, Photo, Has previously visited? Allergies? etc.)</small></li>
						<li>Display who's going and # spots remaining</li>
						<li>Create a traveler row directive with name, age, etc.</li>
						<li>Add a form for people to sign up for the trip</li>
						<li>Extra: Hide form when trip is full</li>
						<li>Extra: Use two controllers and store data in a service</li>
					</ul>
				</section>

				<section>
					<h2>Resources</h2>
					<ul>
						<li><a href="https://docs.angularjs.org/api">Angular API Docs</a></li>
						<li><a href="https://www.codeschool.com/courses/shaping-up-with-angular-js">Code School</a></li>
						<li><a href="https://egghead.io/series/angularjs-app-from-scratch-getting-started">Egghead.io</a></li>
						<li><a href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md">John Papa's Angular Style Guide</a></li>
					<ul>
				</section>

			</div>
  		<footer>
        <div class="copyright">
          Intro to AngularJS -- Girl Develop It Boston --
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a>
        </div>
      </footer>
		</div>


		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
